*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
h1{
    color: green;
    background-color: yellow;
}
h2{
    color: rgb(109, 203, 14);
    
    
}
.container{
    margin-left: 10px;
}
button{
    width: 10vw;
    height: 5vh;
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
}